        body {
            font-family: monospace;
            font-size: 120%;
            padding: 5%;
        }
        canvas {
            border: 2px solid black;
            width: 300px;
            margin: 1% auto 1% auto;
            display: block;
        }
        #buttons {
            width: 300px;
            margin: auto;
            display: block;
        }

        #buttons * {
            width: 25%;
        }

        #score {
            text-align: right;
        }

